// Place all the styles related to the pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

.single {
  padding: 2em;
  display: grid;
  grid-template-columns: 60% 40%;

  .image {
    margin: 0 2.5em;

    img {
      width: 100%;
    }
  }

  .text {
    padding: 2em 0;

    .name {
      margin: 0 30%;
      text-align: center;
      border-bottom: 2px solid black;
    }

    span {
      font-weight: 700;
    }

    ul {
      margin: 2em;
    }

    li {
      list-style: none;
      margin: 0.75em 0;
    }
  }

}
